<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Activitis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuckLuck">
        <activity android:name="Activitis.UpdatePassword"></activity>
        <activity android:name="Activitis.UpdateProfile" />
        <activity android:name="Activitis.ForgotPassword" />
        <activity android:name="Activitis.myLists" />
        <activity android:name="Activitis.addNewList" />
        <activity android:name="Activitis.friendsLists" />
        <activity android:name="Activitis.contactUs" />
        <activity android:name="Activitis.myProfile" />
        <activity android:name="Activitis.LoggedInProfile" />
        <activity android:name="Activitis.RegistrationActivity" />
        <activity android:name="Activitis.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>