<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="Activities">

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label=""
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <activity android:name="Activities.UpdatePassword"
        android:parentActivityName=".LoggedInProfile"></activity>
    <activity android:name="Activities.UpdateProfile"
        android:parentActivityName=".LoggedInProfile"/>
    <activity android:name="Activities.ForgotPassword"
        android:parentActivityName=".LoggedInProfile"/>
    <activity android:name="Activities.CreatedLists"
        android:parentActivityName=".LoggedInProfile"/>
    <activity android:name="Activities.addNewList"
        android:parentActivityName=".LoggedInProfile"/>
    <activity android:name="Activities.JoinedLists"
        android:parentActivityName=".LoggedInProfile"/>
    <activity android:name="Activities.contactUs"
        android:parentActivityName=".LoggedInProfile"/>
    <activity android:name="Activities.myProfile" />
    <activity android:name="Activities.LoggedInProfile" />
    <activity android:name="Activities.RegistrationActivity" />
    <activity android:name="Activities.ClickedListManager"
        android:parentActivityName=".LoggedInProfile"/>
    <activity android:name="Activities.clickedJoinedList"
        android:parentActivityName=".LoggedInProfile"/>


    <activity android:name="Activities.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>

